/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.background_p3{
    height: 100vh;
    width: 100vw;
    background-image: url(/img/background-p3.png);
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-size: cover;
    position: relative;
}
.box-container_p3 {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow: hidden;
}
.left-block_p3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 33.33%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; 
    -webkit-box-pack: center; 
        -ms-flex-pack: center; 
            justify-content: center;
}
.title-left-block_p3 {
    position: absolute;
    margin-bottom: 0;
    margin-top: 0;
    top: 15vh;
}
.h1 {
    text-transform: uppercase;
    color: white;
    font-weight: 700;
}
.blu_green {
    background: -webkit-gradient(linear, left top, right top, from(#45C2EA), to(#4FF44B));
    background: -o-linear-gradient(left, #45C2EA, #4FF44B);
    background: linear-gradient(90deg, #45C2EA, #4FF44B);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}
.balance_p3 {
    padding-right: 30px;
}
.h4 {
    color: white;
}
.balance-title_p3 {
    text-transform: uppercase;
    margin-bottom: 23px;
}
.minerals_p3 p {
    margin-bottom: 15px;
}
.minerals_p3 p:last-child {
    margin-bottom: 0;
}
.bottle_p3 {
    width: 33.33%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.bottle_p3 img {
    display: block;
    margin: 0 auto;
    z-index: 100;
}
.right-block_p3 {
    height: 100%;
    width: 33.3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.h3 {
    color: white;
}
.right-block_p3 .ph-title_p3 {
    text-transform: uppercase;
    margin-bottom: 20px;
}
.right-block_p3 .ph_p3{
    margin-bottom: 0;
    max-width: 260px;
} 
.right-block_p3 img {
    margin-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/* Mobile and Laptop */
@media (max-width:992px) {
    .background_p3 {
        background-size: auto 130%;
    } 
}
.box-container-mobile_p3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 0 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.box-minerals_m_p3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.title-left-block_m_p3 {
    position: absolute;
    margin-bottom: 0;
    margin-top: 0;
}
@media (min-width: 320px) and (max-height: 620px) {
    .h1 {
        font-size: 18px;
    }
    .h3 {
        font-size: 12px;
    }
    .h4 {
        font-size: 12px;
    }
    .title-left-block_m_p3 {
        top:5vh;
        max-width: 180px;
    }
    .ph-title_m_p3 {
        margin-top: 60px;
    }
    .ph_m_p3 {
        margin-bottom: 16px;
    }
    .right-block_m_p3 {
        margin: 0;
    }
    .box-container-mobile_m_p3 img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 105px;
    }
    .balance_m_p3 {
        padding-right: 0px;
        margin-bottom: 25px;
    }
    .balance-title_m_p3 {
        text-transform: uppercase;
        margin-bottom: 10px;
        max-width: 180px;
    }
    .minerals_m_p3 p {
        margin-bottom: 0px;
        max-width: 200px;
    }
    .box-minerals_m_p3 {
        margin-bottom: 8px;
    }
    .box-minerals_m_p3:last-child {
        margin-bottom: 0px;
    }
    .box-minerals_m_p3 img {
        width: 30px;
        margin-right: 20px;
    }
    .box-container-mobile_p3 > img {
        width: 80px;
    }
}
@media (min-width: 568px) and (max-height: 500px) {
    .h1 {
        font-size: 14px;
    }
    .title-left-block_m_p3 {
        top:10vh;
        max-width: 180px;
    }
    .title_m_p3 {
        margin-top: 55px;
    }
    .ph_m_p3 {
        margin-bottom: 16px;
        max-width: 180px;
    }
    .right-block_m_p3 {
        margin: 0;
    }
    .balance_m_p3 {
        margin-top: -160px;
        padding-right: 0px;
        margin-bottom: 25px;
        margin-left: 250px;
    }
    .box-container-mobile_p3 > img {
        width: 80px;
        position: absolute;
        bottom: 30vh;
        left:30px; 
    }
}
@media (min-width: 320px) and (min-height: 620px) {
    .h1 {
        font-size: 18px;
    }
    .h3 {
        font-size: 16px;
    }
    .h4 {
        font-size: 14px;
    }
    .title-left-block_m_p3 {
        top:12vw;
        max-width: 180px;
    }
    .ph-title_m_p3 {
        margin-top: 40px;
    }
    .ph_m_p3 {
        margin-bottom: 24px;
    }
    .box-container-mobile_p3 img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 105px;
    }
    .balance-title_m_p3 {
        text-transform: uppercase;
        margin-bottom: 10px;
        max-width: 180px;
    }
    .balance_m_p3 {
        padding-right: 0px;
        margin-bottom: 30px;
    }
    .minerals_m_p3 p {
        margin-bottom: 0px;
        max-width: 250px;
    }
    .box-minerals_m_p3 {
        margin-bottom: 10px;
    }
    .box-minerals_m_p3 img {
        width: 30px;
        margin-right: 20px;
    }
    .box-container-mobile_p3 > img {
        width: 100px;
    }
}
@media (min-width: 320px) and (min-height: 700px) {
    .h1 {
        font-size: 20px;
    }
    .title-left-block_m_p3 {
        top:8vh;
        max-width: 250px;
    }
    .ph_m_p3 {
        margin-bottom: 10px;
    }
    .balance_m_p3 {
        margin-bottom: 20px;
    }
}
@media (min-width: 340px) {
    .ph_m_p3 {
        margin-bottom: 30px;
    }  
}
@media (min-width: 700px) and (min-height: 400px)  {
    .h1 {
        font-size: 18px;
    }
    .title-left-block_m_p3 {
        top:15vh;
        max-width: 180px;
    }
    .ph-title_m_p3 {
        margin-top: 65px;
    }
    .ph_m_p3 {
        margin-bottom: 16px;
        max-width: 180px;
    }
    .right-block_m_p3 {
        margin: 0;
    }
    .balance_m_p3 {
        margin-top: -175px;
        padding-right: 0px;
        margin-bottom: 25px;
        margin-left: 250px;
    }
    .box-container-mobile_p3 > img {
        width: 80px;
        position: absolute;
        bottom: 30vh;
        left:30px; 
    }
}
@media (min-width: 768px) and (min-height: 320px)  {
    .title-left-block_m_p3 {
        top:15vh;
        max-width: 180px;
    }
    .ph-title_m_p3 {
        margin-top: 110px;
    }
    .balance_m_p3 {
        margin-top: -175px;
        padding-right: 0px;
        margin-bottom: 25px;
        margin-left: 250px;
    }
    .box-container-mobile_p3 > img {
        width: 80px;
        position: inherit;
        margin-left: 250px; 
    }
}
@media (min-width: 768px) and (min-height: 568px)  {
    .h1 {
        font-size: 33px;
    }
    .h2 {
        font-size: 20px;
    }
    .title-left-block_m_p3 {
        max-width: 350px;
        top:15vh;
    }
    .tourists-title_m_p3 {
        max-width: 350px;
        margin-top: 110px;
    }
}

/* Desctop */
@media (min-width: 992px){
    .h1 {
        font-size: 25px;
    }
    .h3 {
        font-size: 18px;
    }
    .h4 {
        font-size: 14px;
    }
    .title-left-block_p3 {
        padding-left: 50px;
        max-width: 300px;
    }
    .balance_p3 {
        padding-left: 50px;
        margin-top: 205px;
    }
    .balance-title_p3 {
        max-width: 267px;
    }
    .bottle_p3 img {
        margin-top: 300px;
        width: 350px;
    }
    .minerals_p3 p {
        margin-bottom: 15px;
        max-width: 267px;
    }
    .right-block_p3 {
        margin-left: 40px;
    }
    .right-block_p3 .ph-title_p3 {
        margin-top: 180px;
    }
    .right-block_p3 img {
    margin-top: 80px;
    width: 130px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    }
} 
@media (min-width:992px) and (min-height:600px) {
    .title-left-block_p3 {
        top: 22vh;
    }
    .h1 {
        font-size: 25px;
    }
}
@media (min-width:1200px){
    .h1 {
        font-size: 25px;
    }
    .h3 {
        font-size: 20px;
    }
    .h4 {
        font-size: 16px;
    }
    .title-left-block_p3 {
        padding-left: 80px;
        top: 8vh;
    }
    .balance_p3 {
        padding-left: 80px;
        margin-top: 170px;
    }
    .balance-title_p3 {
        max-width: 267px;
    }
    .bottle_p3 img {
        margin-top: 290px;
        width: 400px;
    }
    .minerals_p3 p {
        margin-bottom: 15px;
        max-width: 267px;
    }
    .right-block_p3 .ph-title_p3 {
        margin-top: 150px;
    }
}
@media (min-width:1200px) and (min-height:550px) {
    .tle-left-block_p3 {
        top: 15vh;
    }
    .h1 {
        font-size: 25px;
    }
}
@media (min-width:1200px) and (min-height:768px) {
    .title-left-block_p3 {
        top: 20vh;
    }
}
@media (min-width:1200px) and (min-height:900px) {
    .title-left-block_p3 {
        top: 25vh;
    }
}
@media (min-width:1440px){
    .h1 {
        font-size: 30px;
    }
    .h3 {
        font-size: 22px;
    }
    .h4 {
        font-size: 18px;
    }
    .title-left-block_p3 {
        padding-left: 130px;
        top:17vh;
        max-width: 500px;
    }
    .balance_p3 {
        padding-left: 130px;
        margin-top: 235px;
    }
    .balance-title_p3 {
        max-width: 350px;
    }
    .bottle_p3 img {
        margin-top: 350px;
        width: 466px;
    }
    .minerals_p3 p {
        margin-bottom: 15px;
        max-width: 350px;
    }
    .right-block_p3 .ph-title_p3 {
        margin-top: 150px;
    }
}
@media (min-width:1440px) and (max-height:768px){
    .title-left-block_p3 {
        top:17vh;
        max-width: 400px;
    }
    .h1 {
        font-size: 30px;
    }
}
@media (min-width:1680px) and (min-height:560px){
    .h1 {
        font-size: 35px;
    }
    .h3 {
        font-size: 28px;
    }
    .h4 {
        font-size: 22px;
    }
    .title-left-block_p3 {
        padding-left: 130px;
        max-width: 500px;
        top:15vh;
    }
    .balance_p3 {
        padding-left: 130px;
        margin-top: 270px;
    }
    .balance-title_p3 {
        max-width: 370px;
    }
    .bottle_p3 img {
        margin-top: 420px;
        width: 530px;
    }
    .minerals_p3 p {
        margin-bottom: 15px;
        max-width: 370px;
    }
    .right-block_p3 .ph-title_p3 {
        max-width: 260px;
        margin-top:160px;
    }
    .right-block_p3 img {
        width: 155px;
    }
}
@media (min-width:1680px) and (min-height:768px){
    .h1 {
        font-size: 40px;
    }
    .title-left-block_p3 {
        padding-left: 130px;
        max-width: 700px;
        top:15vh;
    }
    
}
@media (min-width:1680px) and (min-height:1080px) {
    .title-left-block_p3 {
        top: 20vh;
    }
    .h1 {
        font-size: 45px;
    }
}