/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.background-p4 {
    height: 100vh;
    width: 100vw;
    background: url(/img/background_page4.png);
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-size: cover;
    position: relative;
}
@media (min-width: 992px) { 
    .gradient_p4 {
    background-image: -o-radial-gradient(0% 15%, 80% 110%, transparent 0%, rgba(0, 0, 0, 0.99) 100%);
    background-image: radial-gradient(80% 110% at 0% 15%, transparent 0%, rgba(0, 0, 0, 0.99) 100%);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    }
}
@media (max-width: 992px) {
    .gradient_m_p4 {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background:
    -webkit-gradient(linear, left bottom, left top, color-stop(5%, rgba(0, 0, 0, 0.8)), color-stop(30%, transparent)),
    -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.6)), color-stop(60%, transparent)),
    -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), color-stop(60%, transparent));
    background:
    -o-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 5%, transparent 30%),
    -o-linear-gradient(right, rgba(0, 0, 0, 0.6) 0%, transparent 60%),
    -o-linear-gradient(left, rgba(0, 0, 0, 0.6) 0%, transparent 60%);
    background:
    linear-gradient(360deg, rgba(0, 0, 0, 0.8) 5%, transparent 30%),
    linear-gradient(270deg, rgba(0, 0, 0, 0.6) 0%, transparent 60%),
    linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, transparent 60%);
    }
}
.box-container {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    overflow: hidden;
}
.h1 {
    text-transform: uppercase;
    color: white;
    font-weight: 700;
}
.h2 {
    color: white;
}
.blu_green {
    background: -webkit-gradient(linear, left top, right top, from(#45C2EA), to(#4FF44B));
    background: -o-linear-gradient(left, #45C2EA, #4FF44B);
    background: linear-gradient(90deg, #45C2EA, #4FF44B);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

/* Mobile and Laptop */
.box-container-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 30px;
}
.title_p4_m {
    z-index: 10;
    position: absolute;
    margin-bottom: 0;
    margin-top: 0;
}
.subtitle_p4_m {
    z-index: 10;
    padding-bottom: 0;
}
.box_map_m {
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.distance_title_m {
    color: white;
}
.distance_subtitle_m {
    text-transform: uppercase;
}
.distance_m p{
    padding: 0;
    margin: 0; 
}
@media (min-width: 320px) and (max-height: 620px) {
    .h1 {
        font-size: 18px;
    }
    .h2 {
        font-size: 14px;
    }
    .title_p4_m {
        top:5vh;
        max-width: 180px;
    }
    .subtitle_p4_m {
        margin: 0px;
    }
    .box_map_m {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: left;
            -ms-flex-pack: left;
                justify-content: left;
    }
    .distance_m {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; 
    }
    .distance_title_m {
        font-size: 22px;
    }
    .map_m {
        margin: 10px 0 10px 0;
    }
    .map_m img {
        height: 35vh;
    }
}
@media (min-width: 320px) and (min-height: 620px) {
    .h1 {
        font-size: 18px;
    }
    .h2 {
        font-size: 16px;
    }
    .title_p4_m {
        top: 12vw;
        max-width: 180px;
    }
    .subtitle_p4_m {
        margin: 0px;
    }
    .box_map_m {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: left;
            -ms-flex-pack: left;
                justify-content: left;
    }
    .distance_m {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; 
    }
    .distance_title_m {
        font-size: 22px;
    }
    .map_m {
        margin: 20px 0 20px 0;
    }
    .map_m img {
        height: 30vh;
    }
}
@media (min-width: 320px) and (min-height: 700px) {
    .h1 {
        font-size: 20px;
    }
    .title_p4_m {
        top:8vh;
        max-width: 250px;
    }
    .map_m img {
        height: 35vh;
    }
}
@media (min-width: 568px) and (max-height: 400px) {
    .h1 {
        font-size: 14px;
    }
    .h2 {
        font-size: 14px;
    }
    .title_p4_m {
        top:10vh;
        max-width: 180px;
    }
    .subtitle_p4_m {
        position: absolute;
        top:28%;
        max-width: 250px;
    }
    .box_map_m {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: left;
            -ms-flex-pack: left;
                justify-content: left;
    }
    .distance_m {
        position: absolute;
        top: 50%;
    }
    .map_m {
        padding-left: 40%;
    }
    .map_m img {
        height: 60vh;  
    }
}

@media (min-width: 700px) and (min-height: 400px)  {
    .h1 {
        font-size: 18px;
    }
    .title_p4_m {
        top:15vh;
        max-width: 180px;
    }
    .subtitle_p4_m {
        position: absolute;
        top: 40%;
        max-width: 250px;
    }
    .distance_m {
        margin-top: 0%;
    }
    .box_map_m {
        margin-bottom: 5%;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
    }
    .map_m {
        margin: 0;
    }
    .map_m img {
        height: 70vh;
    }
}
@media (min-width: 768px) and (min-height: 320px)  {
    .title_p4_m {
        top:15vh;
        max-width: 180px;
    }
    .subtitle_p4_m {
        position: absolute;
        top: 30%;
        max-width: 250px;
    }
    .map_m img {
        height: 70vh;
    }
}
@media (min-width: 768px) and (min-height: 568px) {
    .h1 {
        font-size: 33px;
    }
    .h2 {
        font-size: 20px;
    }
    .title_p4_m {
        max-width: 350px;
        top:15vh;
    }
    .subtitle_p4_m {
        position: absolute;
        top: 30%;
        max-width: 400px;
    }
    .box_map_m {
        margin-bottom: 0;
    }
    .map_m img {
        height: 60vh;
    }
}
@media (min-width: 768px) and (min-height: 700px) {
    .subtitle_p4_m {
        position: absolute;
        top: 35%;
        max-width: 400px;
    }
    .map_m img {
        height: 50vh;
    }
}
@media (min-width: 768px) and (min-height: 1024px) {
    .map_m img {
        height: 35vh;
    }
}


/* Desctop */
.box-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
}
.title_p4 {
    z-index: 10;
    position: absolute;
    margin-bottom: 0;
    margin-top: 0;
    top: 15vh;
}
.subtitle_p4  {
    z-index: 10;
    position: absolute;
    margin-bottom: 0;
    margin-top: 0;
}
.box_map {
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
}
.distance {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.distance_title {
    color: white;
}
.distance_subtitle {
    text-transform: uppercase;
}
.distance p {
    padding: 0;
    margin: 0; 
}
@media (min-width: 992px) {
    .h1 {
        font-size: 25px;
    }
    .h2{
        font-size: 20px;
    }
    .title_p4 {
        padding-left: 50px;
        max-width: 450px;
    }
    .subtitle_p4 {
        padding-left: 50px;
        top: 35%;
    }
    .distance {
        padding-left: 50px;
        padding-top: 20%; 
    }
    .distance_title {
        font-size: 30px;
    }
    .map img {
        height: 45vh;
    }
}
@media (min-width:992px) and (min-height:600px) {
    .title_p4 {
        top: 22vh;
    }
    .subtitle_p4 {
        top: 40%;
    }
    .map img {
        height: 45vh;
        padding-left: 5%;
    }
}
@media (min-width:992px) and (min-height:900px) {
    .title_p4 {
        top: 22vh;
    }
    .subtitle_p4 {
        top: 40%;
    }
    .map img {
        height: 35vh;
    }
}
@media (min-width:1200px){
    .h1 {
        font-size: 25px;
    }
    .h2{
        font-size: 20px;
    }
    .title_p4 { 
        padding-left: 80px;
        top: 8vh;
    }
    .subtitle_p4 {
        padding-left: 80px;
        top: 35%;
    }
    .distance {
        padding-left: 80px;
        padding-top: 20%; 
    }
    .distance_title {
        font-size: 30px;
    }
    .map img {
        height: 70vh;
        padding-left: 10%;
    }
}
@media (min-width:1200px) and (min-height:550px) {
    .title_p4{
        top: 15vh;
    }
    .h1 {
        font-size: 25px;
    }
    .subtitle_p4 {
        top: 40%;
    }
}
@media (min-width:1200px) and (min-height:768px) {
    .title_p4 {
        top: 20vh;
    }
}
@media (min-width:1200px) and (min-height:900px) {
    .title_p4 {
        top: 25vh;
    }
    .subtitle_p4 {
        top: 40%;
    }
    .map img {
        height: 60vh;
    }
}
@media (min-width:1440px){
    .h1 {
        font-size: 30px;
    }
    .h2{
        font-size: 22px;
    }
    .title_p4 {
        padding-left: 130px;
        top:17vh;
        max-width: 500px;
    }
    .subtitle_p4 {
        padding-left: 130px;
        top: 40%;
    }
    .distance {
        padding-left: 130px;
        padding-top: 20%; 
    }
    .distance_title {
        font-size: 35px;
    }
    .map img {
        height: 70vh;
    }
}
@media (min-width:1440px) and (max-height:768px){
    .title_p4 {
        top:17vh;
        max-width: 440px;
    }
}
@media (min-width:1680px) and (min-height:560px) {
    .h1 {
        font-size: 35px;
    }
    .h2{
        font-size: 30px;
    }
    .title_p4{
        padding-left: 130px;
        max-width: 700px;
        top:15vh;
    }
    .subtitle_p4 {
        padding-left: 130px;
        top: 35%;
    }
    .distance {
        padding-left: 130px;
        padding-top: 20%; 
    }
    .distance_title {
        font-size: 45px;
    }
    .map img {
        height: 80vh;
    }
}
@media (min-width:1680px) and (min-height:768px){
    .h1 {
        font-size: 40px;
    }
}
@media (min-width:1680px) and (min-height:1080px) {
    .title_p4 {
        top: 20vh;
    }
    .subtitle_p4 {
        top: 40%;
    }
    .h1 {
        font-size: 45px;
    }
}