/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

body {
    background-color: #0F0F0F;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.font-mavenPro {
    font-family: 'Maven Pro', sans-serif !important;
}
.color-white {
    color: white;
}
.background-p7{
    height: 100vh;
    width: 100vw;
    background: url(/img/background_page7.png);
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-size: cover; 
    background-color: black;
}
.gradient_p7 {
    background:
    -o-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 5%, transparent 30%),
    -o-linear-gradient(right, rgba(0, 0, 0, 0.6) 0%, transparent 20%),
    -o-linear-gradient(left, rgba(0, 0, 0, 0.6) 0%, transparent 20%);
    background:
    -webkit-gradient(linear, left bottom, left top, color-stop(5%, rgba(0, 0, 0, 0.8)), color-stop(30%, transparent)),
    -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.6)), color-stop(20%, transparent)),
    -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), color-stop(20%, transparent));
    background:
    linear-gradient(360deg, rgba(0, 0, 0, 0.8) 5%, transparent 30%),
    linear-gradient(270deg, rgba(0, 0, 0, 0.6) 0%, transparent 20%),
    linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, transparent 20%);
}
.box-container_p7 {
    width: 100%;
    height: calc(100vh - 70px);
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.p7-block1{ 
    grid-area: p7-block-1; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-align: start; 
        -ms-flex-align: start; 
            align-items: flex-start; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
        -ms-flex-direction: column; 
            flex-direction: column; 
    position: relative; 
    -webkit-box-sizing: border-box; 
            box-sizing: border-box;
}
.p7-h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    margin-top: 50px;
    width: 220px;
}
.p7-h2{
    font-size: 16px;
}
form.p7-offer {
    position: relative;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.p7-offer input[type="text"], .p7-offer select, .p7-offer textarea{
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    width: 100%;
}
.p7-offer select{height: 38px;}
.p7-offer textarea{min-height: 130px;}

.p7-offer label{
    font-size: 12px;
}
.checkOfer{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.p7-offer .checkOfer>input[type="checkbox"]{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.p7-offer .checkOfer>.checkmark {
    position: absolute;
    top: calc(50% - 11px);
    left: 0;
    height: 22px;
    width: 22px;
    border-radius: 5px;
    border: 2px solid white;
    background-color: black;
}
.checkOfer:hover input ~ .checkmark {
    background-color: black;
}
.checkOfer input:checked ~ .checkmark {
    background-color: black;
}
.checkOfer>.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkOfer input:checked ~ .checkmark:after {
    display: block;
}
.checkOfer .checkmark:after {
    left: 7px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.p7-offer .submitOffer{
    width: 320px;
    height: 50px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
}
.themeMailFormOfer p { margin: 0;}
.themeMailFormOfer{
    margin: 5px 0;
    width: 100%;
    height: 38px;
    background-color: white;
    border-radius: 5px;
    font-size: 12px;
    padding: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    cursor: pointer;
}
.themeMailFormOfer .themeSelectOptions{
    position: absolute;
    background-color: white;
    top: 30px;
    left: 0;
    right: 0;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    z-index: 2000;
}
.themeMailFormOfer .p7-height80px{
    height:120px;
}
.themeMailFormOfer .p7-height0px{
    height:0px
}
.themeMailFormOfer .themeSelectOptions .themeOptionValue{
    margin: 10px 0;
    width: 100%;
    font-size: 14px;
    line-height: 17px;
    padding: 0 10px;
    cursor: pointer;
}
.themeMailFormOfer .themeSelectOptions .themeOptionValue:hover{
    font-weight: bold;    
}

@media (orientation: portrait) and (max-height: 750px) {
    .box-container_p7 {
        overflow: scroll;
    } 
}
@media (orientation: landscape) and (max-height: 450px) {
    .box-container_p7 {
        overflow: scroll;
    } 
}
@media (orientation: landscape) and (min-width: 768px) {
    .box-container_p7 {
        height: 95vh; padding-right: 110px;
    }
    .p7-block2{
        display: none !important;
    }
}
@media (orientation: portrait) and (min-width: 768px) {
    .box-container_p7 {
        overflow: scroll;
        height: 95vh; padding-right: 110px; padding-left: 50px;
    }
    .p7-h1{
        min-width: 340px;
        font-size: 22px;
        line-height: 27px;
    }
    .p7-h2{
        min-width: 340px;
        font-size: 18px;
        line-height: 21px;
    }
    .p7-block1{ 
        max-width: 340px;
    }
    .p7-offer input[type="text"], .p7-offer select, .p7-offer textarea{
        padding: 10px 20px;
        font-size: 14px;
        width: 100%;
    }
    .p7-offer textarea{min-height: 110px;}
    .checkOfer{
        margin-top: 20px; margin-bottom: 40px;
    }
    .p7-block2{
        width: 100%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
}
.p7-img-desktop {
    background-image: url(/img/p7-image-desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 650px;
    min-height: 400px;
}
.p7-block3 {
    max-width: 450px;
    padding: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.labelSubmit{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
@media (min-width: 992px) {
    .box-container_p7{
        overflow: hidden;
    }
    .p7-h1{
        min-width: 400px;
        font-size: 24px;
        line-height: 28px;
    }
    .p7-h2{
        min-width: 340px;
        font-size: 18px;
        line-height: 22px;
    }
    .labelSubmit{
        margin-top: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    .checkOfer {
        padding-right: 50px;
    }
    .p7-img-desktop {
        min-height: 600px;
    }
}
@media (min-width: 1200px) {
    .box-container_p7 {
        padding-left: 50px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .p7-h1{
        min-width: 470px;
        font-size: 30px;
        line-height: 34px;
    }
    .p7-h2{
        min-width: 470px;
        font-size: 18px;
        line-height: 20px;
    }
    .labelSubmit{
        margin-top: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    .checkOfer {
        padding-right: 50px;
    }
    .p7-offer {
        max-width: 400px;
    }
    .p7-block3 {
        min-width: 600px;
        max-width: 750px;
        padding: 20px;
        height: 100%;
    }
    .p7-img-desktop{
        max-height: 700px;
    } 
}
@media (min-width: 1200px) and (max-height:700px) {
    .p7-h1{
        font-size: 25px;
        line-height: 30px;
    }
    .p7-offer textarea{
        min-height: 100px;
    }
    .p7-img-desktop{
        min-height: 500px !important;
    } 
}
@media (min-width: 1200px) and (max-height:650px) {
    .p7-h1{
        font-size: 25px;
        line-height: 30px;
        margin-top: 25px;
    }
    .p7-offer textarea{
        min-height: 60px;
    }
    .p7-img-desktop{
        min-height: 500px !important;
    } 
}
@media (min-width: 1400px) {
    .p7-h1{
        min-width: 700px;
        font-size: 45px;
        line-height: 55px;
    }
    .p7-h2{
        min-width: 470px;
        font-size: 22px;
        line-height: 26px;
    }
    .p7-block3 {
        width: 100%;
        padding: 20px;
    }
    .p7-offer {
        max-width: 525px;
    }
}
@media (max-width: 568px) and (max-height: 750px){
    .p7-offer textarea{
        min-height: 60px;
    }
}
@media (max-width: 568px) and (max-height: 675px){
    .p7-h1{
        font-size: 14px;
        margin-top: 20px;
    }
    .p7-offer .submitOffer {
        width: 180px;
        height: 35px;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 18px;
        border-radius: 17px;
    }
    .p7-h2{
        margin-bottom: 5px;
    }
}
@media (max-width: 568px) and (max-height: 600px){
    .box-container_p7{
        height: 100vh;
    }
}